@import "../../../../../../../../../../home/planet/.config/dotfiles/desktop/colorschemes/srcery.css";

window {
	background-color: @black;
	font-family: "Iosevka Nerd Font", "FiraCode Nerd Font", monospace;
	font-size: 16px;
}

#input {
	background-color: @black;
	color: @white;
	padding: 0.5em;
	border: 0;
	border-radius: 0;
	border-bottom: 0.5em solid @white;
	margin: 0.67em;
}

#inner-box {
	background-color: @black;
	margin: 0.67em;
}

#outer-box {
	border: 0.5em solid @white;
	background-color: @black;
}

#scroll {
	background-color: @black;
}

#text {
	color: @white;
	margin: 0.5em;
}


#entry:selected {
	background-color: @brightblack;
	border-radius: 0;
}
#text:selected {
	color: @brightyellow;
}
