// Breeze Dark color scheme
// https://develop.kde.org/hig/style/color/dark/
$bg: #31363b;
$bg-alt: #4d4d4d;
$fg: #eff0f1;
$fg-hi: #27ae60;
$fg-alt: #3daee9;
$hover: #2980b9;

* {
	all: unset;

	font-family: inherit;
	font-size: inherit;

	color: inherit;
	background-color: transparent;
	border-radius: 0.5em;

	transition : border 0.25s ease-in, background-color 0.25s ease-out;
}

.container {
	font-family: "Noto Sans", "Symbols Nerd Font";
	font-size: 14pt;
	color: $fg;

	background-color: $bg;

	min-width: 20em;
	padding: 0.5em;

	border: 0.1em solid $bg-alt;

	.monospace {
		font-family: "Input Mono", "Symbols Nerd Font";
	}
	.hover:hover {
		background-color: $hover;
		border: 0.15em solid $fg;
	}
}
// session {{{
.session {
	.session-toggle {
		color: $fg-hi;
	}
}
// }}}
// telemetry {{{
.telemetry {
	.circular {
		.circular-label {
			color: $fg-alt;
		}
		.circular-label:hover {
			color: red;
		}
		.circular-outer {
			color: $fg-hi;
		}
		.circular-inner {
			padding: 2em;
			// This fixes the size in place even if it's a crazy value...
			min-width: 10em;
		}
	}
	.circular-label {
		margin-left: 1em;
		margin-right: 1em;
	}
	.double {
		.double-name{
			color: $fg-alt;
		}
		.double-labels {
			color: $fg-hi;
		}
	}
}
// }}}
// shortcuts {{{
.shortcuts {
	.programs {
		.cbtn-label {
			margin: 1em;
		}
	}
}
// }}}
// weather {{{
.weather {}
// }}}
